* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    background-color: #3B6126;
}

.areaSegura{
    width: 1000px;
    margin: auto;
}

header div {
    display: flex;
    align-items: center;
}

#logoHeader{
    width: 148px;
    height: 42px;
    margin: 0px;
    margin-bottom: 8px;
}

#navPrincipal {
    font-size: 15px;
    color: white;
}

nav{
	width: 100%;
	margin: auto; 
	text-align: center;
    font-size: 15px;
}

ul{ 
	padding: 0; 
	margin: 0px; 
}

ul li { 
	display: inline-block;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

#inputProcurar{
    width: 184px;
    height: 22px;
    border: 1px solid black;
    border-radius: 30px;
}

#imgLupa{
    width: 23px;
    height: 22px;
    margin-left: 9px;
}

#imgUser{
    width: 25px;
    height: 25px;
    margin-left: 37px;
} 

#navDietas{
    height: 30px;
    background-color: #EEE6DB;
}

#navDietas ul li{
    font-size: 14px;
    color: black;
    margin-top: 4px;
    margin-left: 30px;
    margin-right: 30px;
}

.barra {
    color: #3b6126;
    margin-left: 67px;
}

section {
    margin-top: 30px;
}

h1{
    font-size: 19px;
    text-align: center;
    padding-top: 3%;
}


#backCinza{
    width: 42%;
    height: 70%;
    flex-shrink: 0;
    border-radius: 30px;
    /* opacity: 0.5; */
    background: #EEE;
    margin-right: auto; 
    margin:auto
}

#alinhamentoInputs{
    width: 90%;
    text-align: start;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#tamanhoInputs{
    width: 95%;
    border-color: white;
}

#divBotaoEntrar{
    width: 90%;
    padding-top: 2%;
}

#btnEntrar{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30%;
}

#entrar{
    display: flex;
    padding-top: 2%;
    justify-content: center;
}

#divCancelar{
    display: flex;
    flex-direction: row;
}

#divIconeSeta{
    padding-left: 6%;
    padding-top: 3%;
}

#iconeSeta{
    color: #A00C0C;
}

#cancelar{
    color: #A00C0C;
    padding-left: 2%;
}

#divTextoCriarCadastro{
    text-align: center;
}